@{
    ViewBag.Title = "Trang chủ";
}
<div class="bg-fill" style="background:url(http://barona.vn/uploads/food/filter/bg-header_01.png)"></div>
<section id="category_product">
    @Html.Action("CategoryFood", "Category")
</section>
<section id="booking">

</section>