<section class="wapper">
    <section class="wapper">
        <div class="wapcontent">
            <div class="row waphuongdan">
                <div class="col-md-12">
                    <h2>Hướng dẫn đặt bàn nhận ưu đãi</h2>
                    <hr class="line-tutorial">
                    <p>Xem chi tiết hướng dẫn<a href="#" target="_blank"> tại đây</a></p>
                </div>
                <div class="col-md-12">
                    <img data-src="~/Content/Images/icon-chon-nha-hang.png" src="~/Content/Images/icon-chon-nha-hang.png" class="" lazyloaded" alt="hướng dẫn đặt bàn">
                </div>
            </div>
        </div>
    </section>
</section>
