

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p style="text-align:center;"><b><u>XÁC NHẬN ĐẶT TIỆC</u></b></p>
        <p>Chào bạn, {{Name}}</p>
        <p>Điều đầu tiên cảm ơn bạn vì đã sử dụng dịch vụ đặt tiệc ngay trên website NhahangMVC.com</p>
        <p>Hiện tại, bạn đã đặt tiệc tại Nhà hàng chúng tôi. Với thông tin là : </p>
        <div class="form-group">
            <label>Tên Khách hàng: {{Name}}</label><br />
            <label>Ngày giờ đặt: {{Ngaygiodat}}</label><br />
            <label>Ngày giờ nhận: {{NgaygioNhan}}</label><br />
            <label>Số lượng người: {{SLNguoi}}</label><br />
            <label>Khu vực: {{KhuVuc}}</label><br />
            <label>Vị trí: {{ViTri}}</label><br />
            <label>Tiền đặt cọc: {{Tiendatcoc}}</label><br />
        </div>
        <p>Quý khách vui lòng đến nhà hàng chúng tôi trước thời gian nhận bàn 2 giờ để đặt cọc và để chúng tôi sắp xếp cũng như là để quý khách lựa chọn những dịch vụ tốt nhất.</p>
        <p>Nếu chúng tôi không nhận được thông tin gì quý khách trước thời gian nhận bàn 2 giờ thì chúng tôi buộc phải hủy yêu cầu đặt bàn của quý khách. Mong quý khách thông cảm và làm theo đúng quy trình của nhà hàng.</p>
    </div>
</body>
</html>
