<section id="user">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-heading">
                    <h2>Những Combo Hấp dẫn của nhà hàng Món Việt</h2>
                    <div class="hr"><span><img src="~/Content/Images/icon_menu.png"></span></div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="items">
                    <div class="entry-image">
                        <div class="image">

                            <img src="/images/Menu/menu_alacate/cac-mon-hai-san/tom-hum-xanh.jpg" alt="">
                        </div>
                        <div class="thumbnail_decor">
                            <div class="thumbnail_decor_in"><a href="/hap-dan-trong-tuan/am-thuc-dac-trung.html"></a></div>
                        </div>
                    </div>
                    <div class="box-items">
                        <div class="name">Ẩm thực đặc trưng</div>
                        <div class="info">
                            <p>Với nhiều món ngon mà chúng ta có lục tìm khắp mọi nẻo đường cũng không thể tìm ra, thì đây rồi, Ẩm thực Nam Bộ chính là thiên đường mà bạn đang tìm kiếm. Những món ăn giản dị, không gian quá đỗi thanh bình sẽ khiến bạn thưởng thức được những món ăn ngon đậm chất Nam Bộ .</p>
                        </div>
                        <div class="readmore">
                            <a href="/hap-dan-trong-tuan/am-thuc-dac-trung.html">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="items">
                    <div class="entry-image">
                        <div class="image">

                            <img src="/images/hinh-anh/hai-san.jpg" alt="">
                        </div>
                        <div class="thumbnail_decor">
                            <div class="thumbnail_decor_in"><a href="/hap-dan-trong-tuan/hai-san-tuoi-song.html"></a></div>
                        </div>
                    </div>
                    <div class="box-items">
                        <div class="name">Hải sản tươi sống</div>
                        <div class="info">
                            <p>Nhà hàng Ẩm thực Nam Bộ luôn đảm bảo nguồn thực phẩm sạch, hải sản luôn tươi sống và an toàn nhất.</p>
                        </div>
                        <div class="readmore">
                            <a href="/hap-dan-trong-tuan/hai-san-tuoi-song.html">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="items">
                    <div class="entry-image">
                        <div class="image">

                            <img src="/images/hinh-anh/nha-hang/2016/26.jpg" alt="">
                        </div>
                        <div class="thumbnail_decor">
                            <div class="thumbnail_decor_in"><a href="/hap-dan-trong-tuan/khong-gian-hoan-hao.html"></a></div>
                        </div>
                    </div>
                    <div class="box-items">
                        <div class="name">Không gian hoàn hảo</div>
                        <div class="info">
                            <p>Với thiết kế mang phong cách dân gian hiện đại đầy ấn tượng, Nhà hàng Ẩm thực Nam Bộ hãnh diện chào đón quý khách trong một không gian lộng lẫy, sang trọng và hữu tình.</p>
                        </div>
                        <div class="readmore">
                            <a href="/hap-dan-trong-tuan/khong-gian-hoan-hao.html">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
